<h2>All States</h2>

<ul class="button" style="background-color: green">
  <button type="button" routerLink="/addnewstate" class="col-md-2 offset-md-4" bt>
    Create New State
  </button>
</ul>
<table class="table table-bordered" style="
    width: 25%;
    margin-left: 5rem;
    border-color: black;
    border-radius: 1rem;
  ">
  <thead>
    <tr>
      <th>
        State Code:
        <input type="text" placeholder="Search By State Code" [(ngModel)]="searchStateCode"
          (keyup)="searchByStateCode()" />
      </th>
    </tr>
  </thead>
</table>

<table style="width: 50%; margin-left: 15rem" class="table-bordered">
  <thead>
    <tr>
      <th style="width: 6rem">State Code</th>
      <th style="width: 6rem">State Name</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>
      <tr *ngFor="let state of state">
        <td>{{ state.stateCode }}</td>
        <td>{{ state.stateName }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>