<div class="card" style="margin-top: 2rem">
  <div class="card-body">
    <h5 class="card-title">Update Inventory</h5>

    <form (ngSubmit)="updateInventory()" #inventoryForm="ngForm">
      <div class="form-group">
        <label for="inventoryIdInput">Inventory ID:</label>

        <input id="inventoryIdInput" type="number" [(ngModel)]="inventoryId" name="inventoryId" required
          #inventoryIdInput="ngModel" />

        <div *ngIf="
            inventoryIdInput.invalid &&
            (inventoryIdInput.dirty || inventoryIdInput.touched)
          " style="color: red">
          Inventory ID is required.
        </div>
      </div>

      <div class="form-group">
        <label for="purchasedInput">Purchased:</label>

        <select id="purchasedInput" [(ngModel)]="purchased" name="purchased" required #purchasedInput="ngModel">
          <option [ngValue]="null" disabled>Select an option</option>

          <option [ngValue]="0">Not Purchased</option>

          <option [ngValue]="1">Purchased</option>
        </select>

        <div *ngIf="
            purchasedInput.invalid &&
            (purchasedInput.dirty || purchasedInput.touched)
          " style="color: red">
          Purchased field is required.
        </div>
      </div>

      <button class="btn btn-primary" [disabled]="!inventoryForm.valid" type="submit">
        Update
      </button>
    </form>
  </div>
</div>