.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 1rem;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-body {
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
}

/* .table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
} */

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e6e6e6;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/* /////////////////// */
.table {
  width: 90%;
  border-collapse: collapse;
  margin-left: 4rem;
  
}

.table th,
.table td {
  border: 1px solid rgb(240, 209, 209);
  padding: 8px;
  background-color: white;
}

.table th {
  background-color: #ffeade;
}