<form (ngSubmit)="saveBook()">
  <div class="form-group">
    <label for="ranks">Ranks</label>
    <input type="number" class="form-control" id="ranks" [(ngModel)]="book.ranks" name="ranks" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" [(ngModel)]="book.description" name="description"
      required></textarea>
  </div>

  <div class="form-group">
    <label for="fullDescription">Full Description</label>
    <textarea class="form-control" id="fullDescription" [(ngModel)]="book.fullDescription" name="fullDescription"
      required></textarea>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" [(ngModel)]="book.price" name="price" required>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>