<div class="card" style="margin-top: 2rem">
  <h3 class="card-title">Register Yourself</h3>

  <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
    <div class="form-group">
      <label for="firstName"><i class="fa fa-user"></i> First Name:</label>

      <input type="text" id="firstName" formControlName="firstname" required />

      <div *ngIf="
          registrationForm.get('firstname')?.invalid &&
          registrationForm.get('firstname')?.touched
        " class="text-danger">
        First Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="lastName"><i class="fa fa-user"></i> Last Name:</label>

      <input type="text" id="lastName" formControlName="lastname" required />

      <div *ngIf="
          registrationForm.get('lastname')?.invalid &&
          registrationForm.get('lastname')?.touched
        " class="text-danger">
        Last Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber"><i class="fa fa-phone"></i> Phone Number:</label>

      <input type="number" id="phoneNumber" formControlName="phoneNumber" required />

      <div *ngIf="
          registrationForm.get('phoneNumber')?.invalid &&
          (registrationForm.get('phoneNumber')?.touched ||
            registrationForm.get('phoneNumber')?.dirty)
        " class="text-danger">
        <ng-container *ngIf="registrationForm.get('phoneNumber')?.errors?.['required']">
          Phone Number is required
        </ng-container>

        <ng-container *ngIf="registrationForm.get('phoneNumber')?.errors?.['pattern']">
          Phone Number should be 10 digits
        </ng-container>
      </div>
    </div>

    <div class="form-group">
      <label for="userName"><i class="fa fa-user"></i> Username:</label>

      <input type="text" id="userName" formControlName="username" required />

      <div *ngIf="
          registrationForm.get('username')?.invalid &&
          registrationForm.get('username')?.touched
        " class="text-danger">
        Username is required
      </div>
    </div>

    <div class="form-group">
      <label for="password"><i class="fa fa-lock"></i> Password:</label>

      <input type="password" id="password" formControlName="password" required />

      <div *ngIf="
          registrationForm.get('password')?.invalid &&
          registrationForm.get('password')?.touched
        " class="text-danger">
        Password is required
      </div>
    </div>

    <div class="form-group">
      <input type="submit" class="btn" value="Register" [disabled]="registrationForm.invalid" />
    </div>
  </form>
</div>