<div class="form-container">
  <form (ngSubmit)="addCategory()">
    <div class="form-group">
      <label for="catId">Category ID:</label>
      <input type="number" class="form-control" id="catId" [(ngModel)]="category.catId" name="catId" />
    </div>
    <div class="form-group">
      <label for="catDescription">Category Description:</label>
      <input type="text" class="form-control" id="catDescription" [(ngModel)]="category.catDescription"
        name="catDescription" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>