<div class="card-container">
  <div class="card" style="margin-left: 6rem;">
    <div class="card-header">
      <h4 style="margin-left: 4rem;">Add Purchase Log</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="userId">User ID:</label>
        <input type="number" id="userId" [(ngModel)]="newPurchaseLog.userId" />
      </div>
      <div class="form-group">
        <label for="inventoryId">Inventory ID:</label>
        <input type="number" id="inventoryId" [(ngModel)]="newPurchaseLog.inventoryId" />
      </div>
      <button (click)="addPurchaseLog()">Add</button>
    </div>
</div>