
.admin-dashboard {
  text-align: center;
}

.container {
  display: flex;

  flex-wrap: wrap;

  justify-content: center;
}

.card {
  width: 250px;

  margin: 10px;

  padding: 10px;

  border: 1px solid #ccc;

  border-radius: 5px;
}

.card img {
  width: 100%;

  height: auto;

  margin-bottom: 10px;
}

.dropdown {
  position: relative;

  display: block;

  margin: 0 auto;
}

.dropdown-label {
  display: block;

  padding: 5px 10px;

  background-color: deepskyblue;

  border-radius: 4px;

  cursor: pointer;

  text-align: center;

  color: white;

  font-weight: bold;
}

.dropdown-content {
  display: none;

  position: absolute;

  background-color: #f9f9f9;

  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;

  text-align: left;
}

.dropdown-content a {
  color: black;

  padding: 12px 16px;

  text-decoration: none;

  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(247, 241, 133);
}
